//- module
- var d = "M0 0 L 40 0 L 40 40 L 0 40Z"
path#p0(fill="#f00",d=d)
path#p1(fill="#f90",d=d,transform="rotate(45 110 110) translate(100 100)")
g(transform="translate(200 100)")
  path#p2(fill="#9f0",d=d,transform="rotate(45 10 10)")
g(transform="translate(300 100)")
  path#p3(fill="#0f9",d=d,transform="matrix(1 0 1 1 0 0 )")
g(transform="matrix(1 0.5 0 1 400 100)")
  path#p4(fill="#0f9",d=d,transform="matrix(1 0 0.5 1 0 0 )")
text(x="150",y="200",style="user-select:none") hello
rect(fill="#09f",stroke="#000",stroke-width="2",x="10",y="10",width="100",height="50")
